.checkbox-bg {
    border-radius: 5px;
    border: 1px solid #096dd9;
    cursor: pointer;
}

.checkbox-bg:hover {
    background-color: rgb(151, 178, 252);
   
}

.checkbox-quiz {
    max-Width: 700px;
}