.checkbox-bg1 {
    background-color: salmon;

}
.checkbox-bg2 {
    background-color: darkkhaki;
}
.checkbox-bg3 {
    background-color: lightgreen;
}
.checkbox-bg4 {
    background-color: mediumturquoise;
}
.checkbox-quiz{
    max-Width: 700px;
}